html, body, .app {
    margin: 0;
}

body {
    min-height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.background {
    position: fixed;
    inset: -50%;
    background:
        radial-gradient(circle at 20% 30%, rgba(42,195,212,0.35), transparent 45%),
        radial-gradient(circle at 80% 20%, rgba(33, 2, 87, 0.35), transparent 60%),
        radial-gradient(circle at 60% 80%, rgba(18, 124, 23, 0.35), transparent 25%);
    filter: blur(120px);
    animation: move 20s infinite alternate ease-in-out;
    z-index: -1;
}

.main-section {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

.sidebar{
    flex: 1 1 250px;
}

.content-wrapper {
    flex: 4 1 600px;
    overflow-y: auto;
    padding-right: 6px;
}

.content-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.content-wrapper::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

@media (max-width: 590px) {
    .main-section {
        flex-direction: column;
        overflow: visible;
    }

    .sidebar {
        width: 100%;
        flex: none;
    }

    .content-wrapper {
        width: 100%;
        flex: none;
    }
}
