:root {
  font-family: 'Constantia', Cambria, Georgia, 'Courier New', Courier, serif;

  background-color: #24283b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

