/* Content Component Styles */

.content {
    margin: 1rem;
    min-width: 350px;
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from { 
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.content section h2 {
    color: #4287F7;
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 0.5rem;
}

/* About Me */

.about-me-section img {
    float: right;
    margin: 0px 10px;
    max-width: 20%;
    border-radius: 15%;
    border: 3px solid #c09e9e;
    box-shadow: 6px 6px 15px #c09e9e;
}

@media (max-width: 430px) {
    .about-me-section img {
        float: right;
        margin: 0px 10px;
        max-width: 180px;
        border-radius: 15%;
        border: 3px solid #c09e9e;
        box-shadow: 6px 6px 15px #c09e9e;
    }
}

.about-me-section div p {
    color: #87A5CE;
    padding: 0.5rem 0.5rem;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2rem;
}

.about-me-section div p strong {
    color: #F7768E;
}

/* Education */

.education-section div p {
    color: #87A5CE;
    padding: 0.5rem 0.5rem;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2rem;
}

.hutech-education li {
    list-style-image: url('../assets/images/logo HUTECH.png');
}

.mohawk-education li {
    list-style-image: url('../assets/images/logo Mohawk.png');
}

.education-section div h3 {
    color: #edf84f;
    font-size: 1.25rem;
    margin: 1rem 0.5rem;
}

.education-section div ul {
    padding-left: 4rem;
}

.education-section div ul li {
    color: #87A5CE; 
    margin: 0.5rem 0rem;
}

/* Work experience */

.work-experience-section div p {
    color: #87A5CE;
    padding: 0.5rem 0.5rem;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2rem;
}

.vietuytin-work li {
    list-style-image: url('../assets/images/logo vietuytin.png');
}

.asian-school-work li {
    list-style-image: url('../assets/images/logo asia.png');
}

.ydr-work li {
    list-style-image: url('../assets/images/logo YDR.png');
}

.work-experience-section div h3 {
    color: #edf84f;
    font-size: 1.25rem;
    margin: 1rem 0.5rem;
}

.work-experience-section div ul {
    padding-left: 4rem;
}

.work-experience-section div ul li {
    color: #87A5CE; 
    margin: 0.5rem 0rem;
}

/* Skills */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.development-skills {
    flex: 2 1 400px;
}

.soft-skills {
    flex: 2 1 240px;
}

.skills-section div ul {
    color: #87A5CE;
    margin: 0rem 1rem;
    padding-left: 0.5rem;
    text-align: left;
}

.skills-section div ul li {
    margin-bottom: 0.5rem;
}

.skills-section div h3 {
    color: #edf84f;
    margin: 0.5rem;
    font-size: 1.25rem;
}

.skills-section div h4 {
    color: #6af341;
    font-size: 1.125rem;
    margin: 0.5rem 0.5rem;
}

.programming-languages {
    margin: 0.5rem 1rem;
}

.programming-languages img {
    max-width: 65px;
    margin-right: 25px;
}

/* Projects */

.project-item {
    border: solid 2px #c09e9e;
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-description {
    flex: 2 1 300px;
}

.project-item img {
    flex: 2 1 auto;
    max-width: 200px;
    border-radius: 15px;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.project-item img:hover {
    box-shadow: 0 0 15px #5591f1;
    transition: box-shadow 0.3s ease-in-out;
}

.project-item h3 a {
    color: #edf84f;
    font-size: 1.25rem;
    margin: 0.5rem 0.5rem;
    text-decoration: none;
}

.project-item li {
    color: #87A5CE;
    padding: 0.2rem 0rem;
    line-height: 1.4;
}

.projects-section p {
    color: white;
    font-size: 1rem;
    padding: 0rem 0.5rem;
}