@media (min-width: 591px) {
    .sidebar {
        margin: 1rem;
        min-width: 150px;
        max-width: 250px;
    }
}

.profile-picture-div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    margin: 10px auto;
}

.profile-picture-div img {
    width: clamp(100px, 12vw, 250px);
    border-radius: 15%;
    border: 3px solid #c09e9e;
    box-shadow: 6px 6px 15px #c09e9e;
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from { 
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.profile-info {
    text-align: center;
    margin: 10px;
}

.profile-info p {
    color: #8FCE6A;
    font-weight: bold;
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding: 10px 0px;
    margin: 10px;
}

.profile-details {
    font-weight: bold;
    list-style-type: none;
    padding: 0;
}

.profile-details li {
    margin: 10px 0;
}

.profile-details li button.active {
    color: #F7768E;
}

.profile-details li button {
    font-family: inherit;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-decoration: none;
    color: #FF9E64;
    background: none;
    border: none;
    text-shadow: 4px 4px 10px #c7222200;
    transition: font-size 0.25s ease, text-shadow 0.25s ease;
}

.profile-details li button:hover {
    font-size: clamp(1.1rem, 2.2vw, 1.65rem);
    text-shadow: 5px 5px 15px #ff1c1c;
}